flows.json
[{"id": "26d9df42cb8dafc6","type": "tab","label": "Control Loop","disabled": false,"info": "","env": []},
{"id": "f4e68de234cff620","type": "tab","label": "InfluxDB","disabled": false,"info": "","env": []},
{"id": "8c4da3b4870d50a4","type": "tab","label": "Control UI","disabled": false,"info": "","env": []},
{"id": "bc5b0103b541a64e","type": "tab","label": "Ecoflow","disabled": false,"info": "","env": []},
{"id": "772e6979.67cd08","type": "tab","label": "System","disabled": false},
{
  "id": "4d0365b26fba9582",
  "type": "subflow",
  "name": "Rate limit",
  "info": "If you need more complicated condition(s) (beyond % change) to override the rate, simply add another path for the same message to reach this node.\n(This is safe because the output from this node is deduped.)",
  "category": "",
  "in": [
    {
      "x": 60,
      "y": 80,
      "wires": [
        {
          "id": "b6515b8c4811a9af"
        }
      ]
    }
  ],
  "out": [
    {
      "x": 420,
      "y": 40,
      "wires": [
        {
          "id": "b6515b8c4811a9af",
          "port": 0
        }
      ]
    },
    {
      "x": 420,
      "y": 80,
      "wires": []
    }
  ],
  "env": [
    {
      "name": "GAP",
      "type": "num",
      "value": "1",
      "ui": {
        "icon": "font-awesome/fa-clock-o",
        "label": {
          "en-US": "Gap (seconds)"
        },
        "type": "input",
        "opts": {
          "types": [
            "num"
          ]
        }
      }
    },
    {
      "name": "CHANGE",
      "type": "num",
      "value": "",
      "ui": {
        "icon": "font-awesome/fa-exchange",
        "label": {
          "en-US": "Change (%)"
        },
        "type": "input",
        "opts": {
          "types": [
            "num"
          ]
        }
      }
    },
    {
      "name": "GAPS2KEEP",
      "type": "num",
      "value": "10",
      "ui": {
        "icon": "font-awesome/fa-align-left",
        "label": {
          "en-US": "Keep"
        },
        "type": "input",
        "opts": {
          "types": [
            "num"
          ]
        }
      }
    },
    {
      "name": "",
      "type": "str",
      "value": "",
      "ui": {
        "label": {
          "en-US": "gaps of message IDs for dedup and stats"
        },
        "type": "none"
      }
    }
  ],
  "meta": {},
  "color": "#E2D96E",
  "icon": "node-red/timer.svg",
  "status": {
    "x": 420,
    "y": 120,
    "wires": [
      {
        "id": "b6515b8c4811a9af",
        "port": 1
      }
    ]
  }
},
{"id": "accc5caec111ad4f","type": "junction","z": "772e6979.67cd08","wires": [["7cf01d46.a3cad4","7780c9ca.7581b8"]]},
{"id": "f38d7ea6c6aba445","type": "junction","z": "bc5b0103b541a64e","wires": [["575b987579d3c1ff"]]},
{"id": "a83f4b689668f82d","type": "junction","z": "bc5b0103b541a64e","wires": [["64609e40dc0de632","719149e47a602dee"]]},
{"id": "b74443a7d5261382","type": "junction","z": "bc5b0103b541a64e","wires": [["3ea03ff79236bf53"]],"l": false},
{"id": "76f7c8e080d80993","type": "junction","z": "f4e68de234cff620","wires": [["7ed89de6f42f5b90"]]},
{"id": "victron-client-id","type": "victron-client"},
{"id": "8fde2b2df4b484df","type": "alexa-smart-home-v3-conf","username": "bh7dstpshwt4","mqttserver": "mq-red.cb-net.co.uk","webapiurl": "red.cb-net.co.uk","contextName": "memory"},
{
  "id": "95f3e819c1921476",
  "type": "tls-config",
  "name": "Amazon",
  "cert": "",
  "key": "",
  "ca": "",
  "certname": "",
  "keyname": "",
  "caname": "octopus-energy.pem",
  "servername": "",
  "verifyservercert": true,
  "alpnprotocol": ""
},
{"id": "d6268db62aea9f2b","type": "ui_tab","name": "MultiPlus","icon": "dashboard","order": 1,"disabled": false,"hidden": false},
{
  "id": "6124ba1ba093e86e",
  "type": "ui_base",
  "theme": {
    "name": "theme-light",
    "lightTheme": {
      "default": "#0094CE",
      "baseColor": "#0094CE",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
      "edited": true,
      "reset": false
    },
    "darkTheme": {
      "default": "#097479",
      "baseColor": "#097479",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
      "edited": false
    },
    "customTheme": {
      "name": "Untitled Theme 1",
      "default": "#4B7930",
      "baseColor": "#4B7930",
      "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
    },
    "themeState": {
      "base-color": {
        "default": "#0094CE",
        "value": "#0094CE",
        "edited": false
      },
      "page-titlebar-backgroundColor": {
        "value": "#0094CE",
        "edited": false
      },
      "page-backgroundColor": {
        "value": "#fafafa",
        "edited": false
      },
      "page-sidebar-backgroundColor": {
        "value": "#ffffff",
        "edited": false
      },
      "group-textColor": {
        "value": "#1bbfff",
        "edited": false
      },
      "group-borderColor": {
        "value": "#ffffff",
        "edited": false
      },
      "group-backgroundColor": {
        "value": "#ffffff",
        "edited": false
      },
      "widget-textColor": {
        "value": "#111111",
        "edited": false
      },
      "widget-backgroundColor": {
        "value": "#0094ce",
        "edited": false
      },
      "widget-borderColor": {
        "value": "#ffffff",
        "edited": false
      },
      "base-font": {
        "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      }
    },
    "angularTheme": {
      "primary": "indigo",
      "accents": "blue",
      "warn": "red",
      "background": "grey",
      "palette": "light"
    }
  },
  "site": {
    "name": "Node-RED Dashboard",
    "hideToolbar": "false",
    "allowSwipe": "false",
    "lockMenu": "false",
    "allowTempTheme": "true",
    "dateFormat": "DD/MM/YYYY",
    "sizes": {
      "sx": 48,
      "sy": 48,
      "gx": 6,
      "gy": 6,
      "cx": 6,
      "cy": 6,
      "px": 0,
      "py": 0
    }
  }
},
{"id": "0b20d68dae0538d4","type": "ui_group","name": "Market","tab": "d6268db62aea9f2b","order": 2,"disp": true,"width": "9","collapse": false,"className": ""},
{"id": "7853403.230cdc","type": "ui_group","name": "CPU Load","tab": "e6013c6f.69328","order": 2,"disp": true,"width": "6"},
{"id": "1d1da0fc.6ab84f","type": "ui_group","name": "Memory","tab": "e6013c6f.69328","order": 3,"disp": true,"width": "6"},
{"id": "e6013c6f.69328","type": "ui_tab","name": "System","icon": "computer","order": 2},
{"id": "a0c09cbc32a93f22","type": "ui_group","name": "Users","tab": "e6013c6f.69328","order": 3,"disp": true,"width": "6","collapse": false,"className": ""},
{"id": "9c6ed5a3141fbc56","type": "ui_group","name": "Usage Control","tab": "d6268db62aea9f2b","order": 3,"disp": true,"width": "8","collapse": false,"className": ""},
{"id": "17268573dfac859a","type": "ui_group","name": "Status","tab": "d6268db62aea9f2b","order": 1,"disp": true,"width": "4","collapse": false,"className": ""},
{"id": "11cf884897231ecb","type": "config-vrm-api","name": "API Caller"},
{"id": "a6f0cf597c0bc9a7","type": "ui_group","name": "Stats","tab": "d6268db62aea9f2b","order": 4,"disp": true,"width": "8","collapse": false,"className": ""},
{
  "id": "441f38fbab1f4c02",
  "type": "tls-config",
  "name": "Any CA",
  "cert": "",
  "key": "",
  "ca": "",
  "certname": "",
  "keyname": "",
  "caname": "",
  "servername": "",
  "verifyservercert": true,
  "alpnprotocol": ""
},
{"id": "964300ff89738424","type": "ecoflow-api-server","name": "Ecoflow","server": "https://api-e.ecoflow.com"},
{
  "id": "57f4e1d6e78375c3",
  "type": "mqtt-broker",
  "name": "Dynamic",
  "broker": "0.0.0.0",
  "port": "1883",
  "tls": "441f38fbab1f4c02",
  "clientid": "",
  "autoConnect": false,
  "usetls": true,
  "protocolVersion": "4",
  "keepalive": "60",
  "cleansession": true,
  "autoUnsubscribe": true,
  "birthTopic": "",
  "birthQos": "0",
  "birthRetain": "false",
  "birthPayload": "",
  "birthMsg": {},
  "closeTopic": "",
  "closeQos": "0",
  "closeRetain": "false",
  "closePayload": "",
  "closeMsg": {},
  "willTopic": "",
  "willQos": "0",
  "willRetain": "false",
  "willPayload": "",
  "willMsg": {},
  "userProps": "",
  "sessionExpiry": ""
},
{"id": "d927688bd5ff7ee5","type": "ui_group","name": "Ecoflow","tab": "e6013c6f.69328","order": 4,"disp": true,"width": "6","collapse": true,"className": ""},
{
  "id": "df2cf7e32ff3c4b5",
  "type": "influxdb",
  "hostname": "192.168.1.3",
  "port": "8181",
  "protocol": "http",
  "database": "homelab",
  "name": "1.3",
  "usetls": false,
  "tls": "95f3e819c1921476",
  "influxdbVersion": "2.0",
  "url": "http://192.168.1.3:8181",
  "timeout": "10",
  "rejectUnauthorized": false
},
{"id": "25b988138f80b2b2","type": "global-config","name": "global-config","env": [{"name": "POWERSTREAM_SN","value": "HW51ZKH4SF5P2451","type": "str"}]},
{
  "id": "b6515b8c4811a9af",
  "type": "function",
  "z": "4d0365b26fba9582",
  "name": "logic",
  "outputs": 2,
  "timeout": 0,
  "noerr": 0,
  "initialize": "context.set(\"state\", {last: new Date(), ids: [undefined], SHORT_BUCKET: Symbol(\"SHORT_BUCKET\")})",
  "finalize": "",
  "libs": [],
  "wires": [
    [],
    []
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "a25d96493d3b1337",
  "type": "victron-output-generator",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.generator/0",
  "path": "/ManualStart",
  "serviceObj": {
    "service": "com.victronenergy.generator/0",
    "name": "Generator start/stop"
  },
  "pathObj": {
    "path": "/ManualStart",
    "type": "enum",
    "name": "Manual Start",
    "enum": {
      "0": "Stop generator",
      "1": "Start generator"
    },
    "writable": true
  },
  "initial": "",
  "name": "Generator | Manual Start",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "77d8947e23c939dc",
  "type": "debug",
  "z": "26d9df42cb8dafc6",
  "name": "debug 1",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "statusVal": "",
  "statusType": "auto",
  "wires": []
},
{
  "id": "abb2dcd790b183c5",
  "type": "victron-output-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Mode",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Mode",
    "type": "enum",
    "name": "Switch Position",
    "remarks": "<p>Note that <tt>/ModeIsAdjustable</tt> needs to be set to 1.</p> ",
    "enum": {
      "1": "Charger Only",
      "2": "Inverter Only",
      "3": "On",
      "4": "Off"
    },
    "writable": true
  },
  "initial": "",
  "name": "Multi Compact | Mode",
  "onlyChanges": false,
  "wires": []
},
{"id": "9e5ac39e711022f0","type": "alexa-smart-home-v3-state","z": "26d9df42cb8dafc6","conf": "8fde2b2df4b484df","device": "56832","name": "Battery Voltage","wires": []},
{
  "id": "14941b58fef1f2a4",
  "type": "change",
  "z": "26d9df42cb8dafc6",
  "name": "Set temp",
  "rules": [
    {
      "t": "move",
      "p": "payload",
      "pt": "msg",
      "to": "payload.state.temperature",
      "tot": "msg"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "9e5ac39e711022f0"
    ]
  ]
},
{
  "id": "06ff8ffa92515b94",
  "type": "victron-input-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Alarms/LowBattery",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Alarms/LowBattery",
    "type": "enum",
    "name": "Low battery",
    "enum": {
      "0": "Ok",
      "1": "Warning",
      "2": "Alarm"
    }
  },
  "initial": "",
  "name": "Multi Compact | Low Batt",
  "onlyChanges": true,
  "wires": [
    [
      "0c87b17726237c91"
    ]
  ]
},
{
  "id": "0c87b17726237c91",
  "type": "function",
  "z": "26d9df42cb8dafc6",
  "name": "MCP",
  "outputs": 4,
  "timeout": "",
  "noerr": 0,
  "initialize": "shared.ensure(global, \"multiMode\", Object)",
  "finalize": "",
  "libs": [
    {
      "var": "shared",
      "module": "@qc00/qess/shared.mjs"
    }
  ],
  "wires": [
    [
      "c614bf0ceeadedfd"
    ],
    [
      "37037e698ce4bfa1"
    ],
    [
      "abb2dcd790b183c5"
    ],
    [
      "a25d96493d3b1337"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{"id": "c614bf0ceeadedfd","type": "alexa-smart-home-v3-state","z": "26d9df42cb8dafc6","conf": "8fde2b2df4b484df","device": "56971","name": "Battery Low","wires": []},
{
  "id": "3d46533cb912f3fc",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "30min",
  "props": [
    {
      "p": "payload"
    },
    {
      "p": "topic",
      "vt": "str"
    }
  ],
  "repeat": "",
  "crontab": "*/30 0-23 * * *",
  "once": true,
  "onceDelay": 0.1,
  "topic": "ticker",
  "payload": "",
  "payloadType": "date",
  "wires": [
    [
      "0c87b17726237c91"
    ]
  ]
},
{"id": "0b136901ad8b8bd3","type": "link in","z": "26d9df42cb8dafc6","name": "MultiPlus","links": ["13e86263024cc5c5"],"wires": [["0c87b17726237c91"]]},
{
  "id": "3d72852a0bf4fb9b",
  "type": "ui_text",
  "z": "26d9df42cb8dafc6",
  "group": "17268573dfac859a",
  "order": 1,
  "width": 0,
  "height": 0,
  "name": "",
  "label": "Switch Mode",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "className": "",
  "style": false,
  "font": "",
  "fontSize": 16,
  "color": "#000000",
  "wires": []
},
{
  "id": "9f3d3a60aa43c69f",
  "type": "function",
  "z": "26d9df42cb8dafc6",
  "name": "Save mode",
  "outputs": 1,
  "timeout": "",
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [
    {
      "var": "shared",
      "module": "@qc00/qess/shared.mjs"
    }
  ],
  "wires": [
    [
      "3d72852a0bf4fb9b"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "41c12b7498f7d0bf",
  "type": "victron-input-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Bms/AllowToCharge",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Bms/AllowToCharge",
    "type": "enum",
    "name": "BMS allows battery to be charged",
    "enum": {
      "0": "No",
      "1": "Yes"
    }
  },
  "initial": "",
  "name": "Multi Compact | Charge",
  "onlyChanges": true,
  "roundValues": "1",
  "wires": [
    [
      "9f3d3a60aa43c69f"
    ]
  ]
},
{
  "id": "419cfc2ed027603b",
  "type": "victron-input-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Mode",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Mode",
    "type": "enum",
    "name": "Switch Position",
    "enum": {
      "1": "Charger Only",
      "2": "Inverter Only",
      "3": "On",
      "4": "Off"
    },
    "mode": "both"
  },
  "initial": "",
  "name": "Multi Compact | Mode",
  "onlyChanges": false,
  "roundValues": "1",
  "wires": [
    [
      "9f3d3a60aa43c69f"
    ]
  ]
},
{
  "id": "9d9ce450a2df9620",
  "type": "victron-output-custom",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.settings",
  "path": "/Settings/Alarm/System/GridLost",
  "serviceObj": {
    "service": "com.victronenergy.settings",
    "name": "com.victronenergy.settings"
  },
  "pathObj": {
    "path": "/Settings/Alarm/System/GridLost",
    "name": "/Settings/Alarm/System/GridLost",
    "type": "number"
  },
  "name": "Multi Compact | Grid Lost",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "a9315f97739fb8c8",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "0",
  "payloadType": "num",
  "wires": [
    [
      "9d9ce450a2df9620"
    ]
  ]
},
{
  "id": "427cdb10cf8f621e",
  "type": "subflow:4d0365b26fba9582",
  "z": "26d9df42cb8dafc6",
  "name": "300s/2%",
  "env": [
    {
      "name": "GAP",
      "value": "300",
      "type": "num"
    },
    {
      "name": "CHANGE",
      "value": "2",
      "type": "num"
    },
    {
      "name": "BIG_GAP",
      "value": "300",
      "type": "num"
    }
  ],
  "wires": [
    [
      "0c87b17726237c91",
      "14941b58fef1f2a4",
      "77d8947e23c939dc"
    ],
    []
  ]
},
{
  "id": "c1868e53aaeddccc",
  "type": "victron-input-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/Out/L1/P",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/Out/L1/P",
    "type": "float",
    "name": "Output power phase 1 (W)"
  },
  "initial": "",
  "name": "Multi Compact | Output Power",
  "onlyChanges": true,
  "roundValues": "0",
  "wires": [
    [
      "57d7ea60929d74cf"
    ]
  ]
},
{"id": "b1bb7c98e59bbb23","type": "link out","z": "26d9df42cb8dafc6","name": "Power demand","mode": "link","links": ["087a5cc32a549cfd"],"wires": []},
{
  "id": "3cd34a2658d626ef",
  "type": "exec",
  "z": "26d9df42cb8dafc6",
  "command": "vreg.py com.victronenergy.solarcharger.ttyUSB0 S 0xEDAB",
  "addpay": "payload",
  "append": "",
  "useSpawn": "false",
  "timer": "10",
  "winHide": false,
  "oldrc": false,
  "name": "Set Load output",
  "wires": [
    [
      "77d8947e23c939dc"
    ],
    [
      "77d8947e23c939dc"
    ],
    []
  ]
},
{
  "id": "63bf51d3484ac786",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "0",
  "payloadType": "num",
  "wires": [
    [
      "3cd34a2658d626ef"
    ]
  ]
},
{
  "id": "37037e698ce4bfa1",
  "type": "function",
  "z": "26d9df42cb8dafc6",
  "name": "Temp",
  "outputs": 2,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [
    {
      "var": "shared",
      "module": "@qc00/qess/shared.mjs"
    }
  ],
  "wires": [
    [
      "f4855a43c6509875"
    ],
    [
      "3cd34a2658d626ef"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{"id": "f4855a43c6509875","type": "link out","z": "26d9df42cb8dafc6","name": "link out 1","mode": "link","links": ["259b13185504520c"],"wires": []},
{
  "id": "57d7ea60929d74cf",
  "type": "function",
  "z": "26d9df42cb8dafc6",
  "name": "When bypass",
  "func": "return global.get(\"multiMode\")?.desired === 3 ? msg : null;",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "b1bb7c98e59bbb23"
    ]
  ]
},
{
  "id": "8b84130662700481",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "4",
  "payloadType": "num",
  "wires": [
    [
      "3cd34a2658d626ef"
    ]
  ]
},
{
  "id": "2df045c834ad9e8f",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "50 15 * * *",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "5",
  "payloadType": "num",
  "wires": [
    [
      "3cd34a2658d626ef"
    ]
  ],
  "info": "Value\tMeaning\n0\tLoad output off\n1\tAutomatic control / batterylife (default)\n2\tAlternative control 1 (off<11.1V, on>13.1V)\n3\tAlternative control 2 (off<11.8V, on>14.0V)\n4\tAlways on\n5\tUser defined settings 1 (off<Vlow, on>Vhigh)\n6\tUser defined settings 2 (off<Vlow<on<Vhigh<off)\n"
},
{
  "id": "0ffbcef86f96a93a",
  "type": "victron-input-vebus",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.vebus/261",
  "path": "/Dc/0/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Dc/0/Voltage",
    "type": "float",
    "name": "Battery voltage (V)"
  },
  "initial": "",
  "name": "Multi Compact | Batt Volt",
  "onlyChanges": true,
  "roundValues": "2",
  "wires": [
    [
      "427cdb10cf8f621e"
    ]
  ]
},
{
  "id": "4327b16afbb74c49",
  "type": "victron-input-custom",
  "z": "26d9df42cb8dafc6",
  "service": "com.victronenergy.solarcharger/288",
  "path": "/Devices/0/ServiceName",
  "serviceObj": {
    "service": "com.victronenergy.solarcharger/288",
    "name": "SmartSolar Charger MPPT 75/15 (288)"
  },
  "pathObj": {
    "path": "/Devices/0/ServiceName",
    "name": "/Devices/0/ServiceName",
    "type": "string",
    "value": "com.victronenergy.solarcharger.ttyUSB0"
  },
  "name": "MPPT Port Name",
  "onlyChanges": false,
  "wires": [
    []
  ]
},
{
  "id": "4fe5050c3acdd43e",
  "type": "inject",
  "z": "26d9df42cb8dafc6",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "00 07 * * *",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "5",
  "payloadType": "num",
  "wires": [
    [
      "3cd34a2658d626ef"
    ]
  ],
  "info": "Value\tMeaning\n0\tLoad output off\n1\tAutomatic control / batterylife (default)\n2\tAlternative control 1 (off<11.1V, on>13.1V)\n3\tAlternative control 2 (off<11.8V, on>14.0V)\n4\tAlways on\n5\tUser defined settings 1 (off<Vlow, on>Vhigh)\n6\tUser defined settings 2 (off<Vlow<on<Vhigh<off)\n"
},
{
  "id": "a73efc356634eec3",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/ActiveIn/L1/F",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/ActiveIn/L1/F",
    "type": "float",
    "name": "Input frequency phase 1 (Hz)"
  },
  "initial": "",
  "name": "vebus/_261/Ac<ActiveIn>L1/F",
  "onlyChanges": false,
  "roundValues": "no",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "509479fdcb3add03",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/ActiveIn/L1/P",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/ActiveIn/L1/P",
    "type": "float",
    "name": "Input power phase 1 (W)"
  },
  "initial": "",
  "name": "vebus/_261/Ac<ActiveIn>L1/P",
  "onlyChanges": false,
  "roundValues": "no",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "58aee1b2040252ba",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/ActiveIn/L1/I",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/ActiveIn/L1/I",
    "type": "float",
    "name": "Input current phase 1 (A)"
  },
  "initial": "",
  "name": "vebus/_261/Ac<ActiveIn>L1/I",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "7ed89de6f42f5b90",
  "type": "function",
  "z": "f4e68de234cff620",
  "name": "Deferred",
  "func": "flow.get('deferred')(msg);",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "dd6b862095bd1f52",
      "a892ef4543af39f6"
    ]
  ],
  "_vcsOffload": [
    "initialize.js"
  ]
},
{
  "id": "dd6b862095bd1f52",
  "type": "debug",
  "z": "f4e68de234cff620",
  "name": "debug 4",
  "active": false,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "false",
  "statusVal": "",
  "statusType": "auto",
  "wires": []
},
{
  "id": "5b675c0ed20a5ff7",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/ActiveIn/L1/V",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/ActiveIn/L1/V",
    "type": "float",
    "name": "Input voltage phase 1 (VAC)"
  },
  "initial": "",
  "name": "vebus/_261/Ac<ActiveIn>L1/V",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "a892ef4543af39f6",
  "type": "influxdb batch",
  "z": "f4e68de234cff620",
  "influxdb": "df2cf7e32ff3c4b5",
  "precision": "",
  "retentionPolicy": "",
  "name": "",
  "database": "database",
  "precisionV18FluxV20": "ms",
  "retentionPolicyV18Flux": "",
  "org": "x",
  "bucket": "homelab",
  "wires": []
},
{
  "id": "67cfbc1e7af55581",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/Out/L1/P",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/Out/L1/P",
    "type": "float",
    "name": "Output power phase 1 (W)"
  },
  "initial": "",
  "name": "vebus/261/Ac<Out>L1/P",
  "onlyChanges": false,
  "roundValues": "no",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "309022585fb99438",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/Out/L1/I",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/Out/L1/I",
    "type": "float",
    "name": "Output current phase 1 (A)"
  },
  "initial": "",
  "name": "vebus/261/Ac<Out>L1/I",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "2068db448b726a2b",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/Out/L1/V",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/Out/L1/V",
    "type": "float",
    "name": "Output voltage phase 1 (VAC)"
  },
  "initial": "",
  "name": "vebus/261/Ac<Out>L1/V",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "cc15ceafb35de09b",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Dc/0/Current",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Dc/0/Current",
    "type": "float",
    "name": "Battery current (A)"
  },
  "initial": "",
  "name": "vebus/261<Dc>/0/I",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "0628da14f086c80b",
  "type": "victron-input-vebus",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.vebus/261",
  "path": "/Dc/0/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Dc/0/Voltage",
    "type": "float",
    "name": "Battery voltage (V)"
  },
  "initial": "",
  "name": "vebus/261<Dc>/0/V",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "108a3c89af68efe5",
  "type": "victron-input-solarcharger",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.solarcharger/288",
  "path": "/Dc/0/Current",
  "serviceObj": {
    "service": "com.victronenergy.solarcharger/288",
    "name": "SmartSolar Charger MPPT 75/15"
  },
  "pathObj": {
    "path": "/Dc/0/Current",
    "type": "float",
    "name": "Battery current (A)"
  },
  "name": "solarcharger/288<Dc>I",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "3837da26efb6a1af",
  "type": "victron-input-solarcharger",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.solarcharger/288",
  "path": "/Dc/0/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.solarcharger/288",
    "name": "SmartSolar Charger MPPT 75/15"
  },
  "pathObj": {
    "path": "/Dc/0/Voltage",
    "type": "float",
    "name": "Battery voltage (V)"
  },
  "name": "solarcharger/288<Dc>V",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "ab747c564d0a159c",
  "type": "victron-input-solarcharger",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.solarcharger/288",
  "path": "/Yield/Power",
  "serviceObj": {
    "service": "com.victronenergy.solarcharger/288",
    "name": "SmartSolar Charger MPPT 75/15"
  },
  "pathObj": {
    "path": "/Yield/Power",
    "type": "float",
    "name": "PV Power (W)"
  },
  "name": "solarcharger/288<Pv>P",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{
  "id": "3766751065cd2f0b",
  "type": "victron-input-solarcharger",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.solarcharger/288",
  "path": "/Pv/V",
  "serviceObj": {
    "service": "com.victronenergy.solarcharger/288",
    "name": "SmartSolar Charger MPPT 75/15"
  },
  "pathObj": {
    "path": "/Pv/V",
    "type": "float",
    "name": "PV voltage"
  },
  "name": "solarcharger/288<Pv>V",
  "onlyChanges": false,
  "roundValues": "2",
  "wires": [
    [
      "7ed89de6f42f5b90"
    ]
  ]
},
{"id": "3a19f5955684dc54","type": "credentials","z": "f4e68de234cff620","name": "","props": [{"value": "payload","type": "msg"}],"wires": [[]]},
{
  "id": "2acbdfa108a8db21",
  "type": "victron-input-battery",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.battery/30",
  "path": "/Dc/0/Current",
  "serviceObj": {
    "service": "com.victronenergy.battery/30",
    "name": "Junctek Shunt"
  },
  "pathObj": {
    "path": "/Dc/0/Current",
    "type": "float",
    "name": "Battery current (A)"
  },
  "name": " battery/30<Dc>I",
  "onlyChanges": false,
  "wires": [
    [
      "76f7c8e080d80993"
    ]
  ]
},
{
  "id": "ccfbddc7a237a904",
  "type": "victron-input-battery",
  "z": "f4e68de234cff620",
  "service": "com.victronenergy.battery/30",
  "path": "/Dc/0/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.battery/30",
    "name": "Junctek Shunt"
  },
  "pathObj": {
    "path": "/Dc/0/Voltage",
    "type": "float",
    "name": "Battery voltage (V)"
  },
  "name": " battery/30<Dc>V",
  "onlyChanges": false,
  "wires": [
    [
      "76f7c8e080d80993"
    ]
  ]
},
{
  "id": "9159b5d7c0a1168d",
  "type": "http request",
  "z": "8c4da3b4870d50a4",
  "name": "Agile $$$",
  "method": "GET",
  "ret": "obj",
  "paytoqs": "ignore",
  "url": "https://api.octopus.energy/v1/products/AGILE-24-10-01/electricity-tariffs/E-1R-AGILE-24-10-01-A/standard-unit-rates/",
  "tls": "95f3e819c1921476",
  "persist": false,
  "proxy": "",
  "insecureHTTPParser": false,
  "authType": "basic",
  "senderr": false,
  "headers": [],
  "wires": [
    [
      "faa5f979163eba9f"
    ]
  ],
  "info": "https://developer.octopus.energy/rest/reference\n\nTo get product:\n1. call `https://api.octopus.energy/v1/accounts/A-...`\n2. remove the \"E-1R\" and \"-A\" for the first placeholder and use the full tariff for the second"
},
{
  "id": "faa5f979163eba9f",
  "type": "function",
  "z": "8c4da3b4870d50a4",
  "name": "Parse Agile $$$",
  "outputs": 2,
  "timeout": "",
  "noerr": 0,
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "d69e663412bccb48",
      "448dcdf819b603de"
    ],
    [
      "9159b5d7c0a1168d"
    ]
  ],
  "outputLabels": [
    "Success",
    "Fail"
  ],
  "_vcsOffload": [
    "func.js",
    "initialize.js"
  ]
},
{
  "id": "30b7e3ef5a0cf43d",
  "type": "debug",
  "z": "8c4da3b4870d50a4",
  "name": "debug 2",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "statusVal": "",
  "statusType": "auto",
  "wires": []
},
{
  "id": "af97f7c7394df402",
  "type": "inject",
  "z": "8c4da3b4870d50a4",
  "name": "Daily",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "02 16 * * *",
  "once": true,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "0",
  "payloadType": "num",
  "wires": [
    [
      "9159b5d7c0a1168d"
    ]
  ]
},
{
  "id": "417e7d09598a12f8",
  "type": "http in",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "url": "/agile",
  "method": "get",
  "upload": false,
  "swaggerDoc": "",
  "wires": [
    [
      "4f6d4fd70ff22cdf"
    ]
  ]
},
{"id": "c1c2d539b51f830f","type": "http response","z": "8c4da3b4870d50a4","name": "","statusCode": "200","headers": {},"wires": []},
{
  "id": "4f6d4fd70ff22cdf",
  "type": "change",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "rules": [
    {
      "t": "set",
      "p": "payload",
      "pt": "msg",
      "to": "agile",
      "tot": "flow"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "c1c2d539b51f830f"
    ]
  ]
},
{
  "id": "2c7512fef1cf6fd9",
  "type": "ui_chart",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "group": "0b20d68dae0538d4",
  "order": 1,
  "width": "9",
  "height": "6",
  "label": "Before",
  "chartType": "line",
  "legend": "true",
  "xformat": "dd HHmm",
  "interpolate": "step",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "useUTC": false,
  "colors": [
    "#1f77b4",
    "#00ff40",
    "#ff7f0e",
    "#2ca02c",
    "#98df8a",
    "#d62728",
    "#ff9896",
    "#9467bd",
    "#c5b0d5"
  ],
  "outputs": 1,
  "useDifferentColor": false,
  "className": "",
  "wires": [
    []
  ],
  "info": "https://github.com/node-red/node-red-dashboard/blob/master/Charts.md"
},
{
  "id": "d69e663412bccb48",
  "type": "function",
  "z": "8c4da3b4870d50a4",
  "name": "Serve",
  "outputs": 3,
  "timeout": "",
  "noerr": 0,
  "initialize": "shared.ensure(global, \"multiMode\", Object)",
  "finalize": "",
  "libs": [
    {
      "var": "shared",
      "module": "@qc00/qess/shared.mjs"
    }
  ],
  "wires": [
    [
      "2c7512fef1cf6fd9"
    ],
    [
      "5e9f9b012e770f91"
    ],
    [
      "2f598774fb083edd"
    ]
  ],
  "info": "1 - Charger Only\n2 - Inverter Only\n3 - On",
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "1b607e7b6379618d",
  "type": "inject",
  "z": "8c4da3b4870d50a4",
  "name": "manual",
  "props": [],
  "repeat": "",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "wires": [
    [
      "d69e663412bccb48"
    ]
  ]
},
{
  "id": "2f598774fb083edd",
  "type": "ui_template",
  "z": "8c4da3b4870d50a4",
  "group": "9c6ed5a3141fbc56",
  "name": "",
  "order": 3,
  "width": "8",
  "height": "13",
  "storeOutMessages": false,
  "fwdInMessages": false,
  "resendOnRefresh": true,
  "templateScope": "local",
  "className": "",
  "wires": [
    [
      "fd97e01e4c7f13eb"
    ]
  ],
  "_vcsOffload": [
    "format.htm"
  ]
},
{
  "id": "8cc78ba0083ddb11",
  "type": "http request",
  "z": "8c4da3b4870d50a4",
  "name": "Carbon",
  "method": "GET",
  "ret": "obj",
  "paytoqs": "ignore",
  "url": "http://api.carbonintensity.org.uk/intensity/{{{from}}}/{{{to}}}",
  "tls": "",
  "persist": false,
  "proxy": "",
  "insecureHTTPParser": false,
  "authType": "",
  "senderr": false,
  "headers": [],
  "wires": [
    [
      "ee83eb8ac5ffa993"
    ]
  ],
  "info": "Regional:\nhttp://api.carbonintensity.org.uk/regional/intensity/{{{from}}}/{{{to}}}/regionid/10"
},
{
  "id": "cc293dbc3062b7c0",
  "type": "inject",
  "z": "8c4da3b4870d50a4",
  "name": "/2h",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "7200",
  "crontab": "",
  "once": true,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "wires": [
    [
      "db510346c9d86582"
    ]
  ]
},
{
  "id": "ee83eb8ac5ffa993",
  "type": "function",
  "z": "8c4da3b4870d50a4",
  "name": "Parse Carbon",
  "outputs": 2,
  "timeout": "",
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "d69e663412bccb48",
      "c68868c56ff9b274"
    ],
    [
      "61438a1601db65ed"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "5e9f9b012e770f91",
  "type": "ui_chart",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "group": "0b20d68dae0538d4",
  "order": 3,
  "width": "9",
  "height": "7",
  "label": "After",
  "chartType": "line",
  "legend": "false",
  "xformat": "D dd HHmm",
  "interpolate": "step",
  "nodata": "",
  "dot": false,
  "ymin": "0",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": 0,
  "useOneColor": false,
  "useUTC": false,
  "colors": [
    "#1f77b4",
    "#00ff40",
    "#ff7f0e",
    "#2ca02c",
    "#98df8a",
    "#d62728",
    "#ff9896",
    "#9467bd",
    "#c5b0d5"
  ],
  "outputs": 1,
  "useDifferentColor": false,
  "className": "",
  "wires": [
    []
  ],
  "info": "https://github.com/node-red/node-red-dashboard/blob/master/Charts.md"
},
{
  "id": "fd97e01e4c7f13eb",
  "type": "change",
  "z": "8c4da3b4870d50a4",
  "name": "Save",
  "rules": [
    {
      "t": "set",
      "p": "multiMode",
      "pt": "global",
      "to": "payload",
      "tot": "msg"
    },
    {
      "t": "set",
      "p": "topic",
      "pt": "msg",
      "to": "multiMode Save",
      "tot": "str"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "13e86263024cc5c5"
    ]
  ]
},
{"id": "13e86263024cc5c5","type": "link out","z": "8c4da3b4870d50a4","name": "multiMode Saved","mode": "link","links": ["0b136901ad8b8bd3"],"wires": []},
{"id": "919042522772b0aa","type": "link in","z": "8c4da3b4870d50a4","name": "API in","links": ["060128dfb896100c"],"wires": [["b4d5784d5685ecf8"]]},
{
  "id": "b4d5784d5685ecf8",
  "type": "switch",
  "z": "8c4da3b4870d50a4",
  "name": "This tab",
  "property": "tab",
  "propertyType": "msg",
  "rules": [
    {
      "t": "eq",
      "v": "MultiPlus",
      "vt": "str"
    }
  ],
  "checkall": "true",
  "repair": false,
  "outputs": 1,
  "wires": [
    [
      "d69e663412bccb48"
    ]
  ]
},
{
  "id": "c68868c56ff9b274",
  "type": "ui_button",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "group": "17268573dfac859a",
  "order": 2,
  "width": "0",
  "height": "0",
  "passthru": false,
  "label": "CO2: {{updated}}",
  "tooltip": "Reload carbon data",
  "color": "",
  "bgcolor": "",
  "className": "",
  "icon": "",
  "payload": "",
  "payloadType": "date",
  "topic": "topic",
  "topicType": "msg",
  "wires": [
    [
      "61438a1601db65ed"
    ]
  ]
},
{
  "id": "448dcdf819b603de",
  "type": "ui_button",
  "z": "8c4da3b4870d50a4",
  "name": "",
  "group": "17268573dfac859a",
  "order": 2,
  "width": "0",
  "height": "0",
  "passthru": false,
  "label": "Agile: {{updated}}",
  "tooltip": "Reload carbon data",
  "color": "",
  "bgcolor": "",
  "className": "",
  "icon": "",
  "payload": "",
  "payloadType": "date",
  "topic": "topic",
  "topicType": "msg",
  "wires": [
    [
      "9159b5d7c0a1168d"
    ]
  ]
},
{
  "id": "db510346c9d86582",
  "type": "switch",
  "z": "8c4da3b4870d50a4",
  "name": ">7am",
  "property": "payload",
  "propertyType": "msg",
  "rules": [
    {
      "t": "jsonata_exp",
      "v": "payload % 86400000 >= 7*3600000",
      "vt": "jsonata"
    }
  ],
  "checkall": "true",
  "repair": false,
  "outputs": 1,
  "wires": [
    [
      "61438a1601db65ed"
    ]
  ]
},
{
  "id": "9ab654ae39ebe672",
  "type": "vrm-api",
  "z": "8c4da3b4870d50a4",
  "vrm": "11cf884897231ecb",
  "name": "Consumption API",
  "api_type": "installations",
  "idUser": "",
  "users": "",
  "idSite": "45531",
  "installations": "stats",
  "attribute": "consumption",
  "stats_interval": "hours",
  "show_instance": false,
  "stats_start": "-2419200",
  "stats_end": "0",
  "use_utc": false,
  "gps_start": "",
  "gps_end": "",
  "widgets": "",
  "instance": "",
  "vrm_id": "",
  "country": "",
  "b_max": "",
  "tb_max": "",
  "fb_max": "",
  "tg_max": "",
  "fg_max": "",
  "b_cycle_cost": "",
  "buy_price_formula": "",
  "sell_price_formula": "",
  "green_mode_on": "",
  "feed_in_possible": "",
  "feed_in_control_on": "",
  "b_goal_hour": "",
  "b_goal_SOC": "",
  "store_in_global_context": false,
  "verbose": true,
  "wires": [
    [
      "41297551b9749a4d"
    ]
  ]
},
{
  "id": "41297551b9749a4d",
  "type": "function",
  "z": "8c4da3b4870d50a4",
  "name": "Cumu consumption",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "finalize": "",
  "libs": [],
  "wires": [
    []
  ],
  "_vcsOffload": [
    "func.js",
    "initialize.js"
  ]
},
{
  "id": "d61f12e705bdf8a6",
  "type": "victron-input-vebus",
  "z": "8c4da3b4870d50a4",
  "service": "com.victronenergy.vebus/261",
  "path": "/Ac/Out/L1/P",
  "serviceObj": {
    "service": "com.victronenergy.vebus/261",
    "name": "MultiPlus Compact 24/1600/40-16"
  },
  "pathObj": {
    "path": "/Ac/Out/L1/P",
    "type": "float",
    "name": "Output power phase 1 (W)"
  },
  "initial": "",
  "name": "Multi Compact | Watts",
  "onlyChanges": false,
  "roundValues": "no",
  "wires": [
    [
      "41297551b9749a4d"
    ]
  ]
},
{
  "id": "c7698c221db04b07",
  "type": "inject",
  "z": "8c4da3b4870d50a4",
  "name": "Init",
  "props": [],
  "repeat": "",
  "crontab": "",
  "once": true,
  "onceDelay": 0.1,
  "topic": "",
  "wires": [
    [
      "9ab654ae39ebe672"
    ]
  ],
  "l": false
},
{
  "id": "61438a1601db65ed",
  "type": "change",
  "z": "8c4da3b4870d50a4",
  "name": "param",
  "rules": [
    {
      "t": "set",
      "p": "from",
      "pt": "msg",
      "to": "$fromMillis(payload - 3600000*12)",
      "tot": "jsonata"
    },
    {
      "t": "set",
      "p": "to",
      "pt": "msg",
      "to": "$fromMillis(payload + 86400000*4)",
      "tot": "jsonata"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "8cc78ba0083ddb11"
    ]
  ]
},
{
  "id": "1a2b64f285384dd9",
  "type": "victron-virtual",
  "z": "bc5b0103b541a64e",
  "name": "PowerStream",
  "device": "pvinverter",
  "default_values": false,
  "battery_capacity": 25,
  "include_battery_temperature": false,
  "grid_nrofphases": 1,
  "include_motor_temp": false,
  "include_controller_temp": false,
  "include_coolant_temp": false,
  "include_motor_rpm": true,
  "include_motor_direction": true,
  "position": 0,
  "pvinverter_nrofphases": 1,
  "fluid_type": 0,
  "include_tank_battery": false,
  "include_tank_temperature": false,
  "tank_battery_voltage": 3.3,
  "tank_capacity": 0.2,
  "temperature_type": 2,
  "include_humidity": false,
  "include_pressure": false,
  "include_temp_battery": false,
  "temp_battery_voltage": 3.3,
  "wires": []
},
{
  "id": "c869e61c13e08a4a",
  "type": "victron-output-battery",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.battery/100",
  "path": "/Soc",
  "serviceObj": {
    "service": "com.victronenergy.battery/100",
    "name": "EcoFlow Batt"
  },
  "pathObj": {
    "path": "/Soc",
    "type": "float",
    "name": "State of charge (%)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "8bd94aa9570e2831",
  "type": "debug",
  "z": "bc5b0103b541a64e",
  "name": "debug 3",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "targetType": "full",
  "statusVal": "",
  "statusType": "auto",
  "wires": []
},
{
  "id": "575b987579d3c1ff",
  "type": "function",
  "z": "bc5b0103b541a64e",
  "name": "Parse",
  "outputs": 11,
  "timeout": 0,
  "noerr": 0,
  "finalize": "",
  "libs": [
    {
      "var": "metricModule",
      "module": "@qc00/node-red-subsampling/Metric.js"
    }
  ],
  "wires": [
    [],
    [
      "9c0afaaf1c9e682b"
    ],
    [
      "f5a9c512799ce2b6"
    ],
    [
      "e1b63652f7774068"
    ],
    [
      "7ed57091ae6a7b7e",
      "579ec36e91546f6a"
    ],
    [
      "63c8f4d68a0b4682"
    ],
    [
      "146d4323fa4bcc26"
    ],
    [
      "f7c1c1b82ddf5ee2"
    ],
    [
      "9f1caa6d592e6df4"
    ],
    [
      "c869e61c13e08a4a"
    ],
    [
      "75713b659cce268e"
    ]
  ],
  "outputLabels": [
    "",
    "",
    "",
    "4",
    "",
    "",
    "",
    "8",
    "",
    "",
    ""
  ],
  "_vcsOffload": [
    "func.js",
    "initialize.js"
  ]
},
{
  "id": "337bb401c7dd0c72",
  "type": "ecoflow-api",
  "z": "bc5b0103b541a64e",
  "name": "MQTT creds",
  "remote": "964300ff89738424",
  "serial_number": "",
  "function": "queryMqttCert",
  "wires": [
    [
      "3e6886e593bb31ec",
      "8bd94aa9570e2831"
    ]
  ],
  "l": false
},
{
  "id": "cbe4046578a125ef",
  "type": "inject",
  "z": "bc5b0103b541a64e",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "",
  "once": true,
  "onceDelay": "2",
  "topic": "",
  "payload": "Reset",
  "payloadType": "str",
  "wires": [
    [
      "3e6886e593bb31ec"
    ]
  ]
},
{
  "id": "3e6886e593bb31ec",
  "type": "function",
  "z": "bc5b0103b541a64e",
  "name": "subscribe",
  "outputs": 4,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "2150035aeddb7ba8"
    ],
    [
      "b7d6f4f114452af8"
    ],
    [
      "1593ca14cc0981ee",
      "8bd94aa9570e2831"
    ],
    [
      "b74443a7d5261382"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "cd3ae8f8ea8890d6",
  "type": "victron-virtual",
  "z": "bc5b0103b541a64e",
  "name": "EcoFlow Batt",
  "device": "battery",
  "default_values": false,
  "battery_capacity": "40",
  "include_battery_temperature": true,
  "grid_nrofphases": 1,
  "include_motor_temp": false,
  "include_controller_temp": false,
  "include_coolant_temp": false,
  "include_motor_rpm": true,
  "include_motor_direction": true,
  "position": 0,
  "pvinverter_nrofphases": 1,
  "fluid_type": 0,
  "include_tank_battery": false,
  "include_tank_temperature": false,
  "tank_battery_voltage": 3.3,
  "tank_capacity": 0.2,
  "temperature_type": 2,
  "include_humidity": false,
  "include_pressure": false,
  "include_temp_battery": false,
  "temp_battery_voltage": 3.3,
  "wires": []
},
{
  "id": "9f1caa6d592e6df4",
  "type": "victron-output-battery",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.battery/100",
  "path": "/Dc/0/Power",
  "serviceObj": {
    "service": "com.victronenergy.battery/100",
    "name": "EcoFlow Batt"
  },
  "pathObj": {
    "path": "/Dc/0/Power",
    "type": "float",
    "name": "Battery power (W)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "b7d6f4f114452af8",
  "type": "ecoflow-api",
  "z": "bc5b0103b541a64e",
  "name": "All data",
  "remote": "964300ff89738424",
  "serial_number": "${POWERSTREAM_SN}",
  "function": "queryQuotaAll",
  "wires": [
    [
      "8bd94aa9570e2831",
      "dc8c7551f9cff7d8"
    ]
  ]
},
{
  "id": "dc8c7551f9cff7d8",
  "type": "function",
  "z": "bc5b0103b541a64e",
  "name": "20.1",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "f38d7ea6c6aba445"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "f7c1c1b82ddf5ee2",
  "type": "victron-output-battery",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.battery/100",
  "path": "/Dc/0/Current",
  "serviceObj": {
    "service": "com.victronenergy.battery/100",
    "name": "EcoFlow Batt"
  },
  "pathObj": {
    "path": "/Dc/0/Current",
    "type": "float",
    "name": "Battery current (A)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "146d4323fa4bcc26",
  "type": "victron-output-battery",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.battery/100",
  "path": "/Dc/0/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.battery/100",
    "name": "EcoFlow Batt"
  },
  "pathObj": {
    "path": "/Dc/0/Voltage",
    "type": "float",
    "name": "Battery voltage (V)"
  },
  "initial": 0,
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "63c8f4d68a0b4682",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/Ac/PowerLimit",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/Ac/PowerLimit",
    "type": "float",
    "name": "Power limit (W)",
    "mode": "both"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "579ec36e91546f6a",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/Ac/Power",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/Ac/Power",
    "type": "float",
    "name": "Total Power (W)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "7ed57091ae6a7b7e",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/Ac/L1/Power",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/Ac/L1/Power",
    "type": "float",
    "name": "L1 Power (W)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "e1b63652f7774068",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/Ac/L1/Current",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/Ac/L1/Current",
    "type": "float",
    "name": "L1 Current (A)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "f5a9c512799ce2b6",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/Ac/L1/Voltage",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/Ac/L1/Voltage",
    "type": "float",
    "name": "L1 Voltage (V)"
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "9c0afaaf1c9e682b",
  "type": "victron-output-pvinverter",
  "z": "bc5b0103b541a64e",
  "service": "com.victronenergy.pvinverter/101",
  "path": "/StatusCode",
  "serviceObj": {
    "service": "com.victronenergy.pvinverter/101",
    "name": "PowerStream"
  },
  "pathObj": {
    "path": "/StatusCode",
    "type": "enum",
    "name": "Status",
    "enum": {
      "0": "Startup 0",
      "1": "Startup 1",
      "2": "Startup 2",
      "3": "Startup 3",
      "4": "Startup 4",
      "5": "Startup 5",
      "6": "Startup 6",
      "7": "Running",
      "8": "Standby",
      "9": "Boot loading",
      "10": "Error",
      "11": "Running (MPPT)",
      "12": "Running (Throttled)"
    }
  },
  "name": "",
  "onlyChanges": false,
  "wires": []
},
{
  "id": "1593ca14cc0981ee",
  "type": "mqtt in",
  "z": "bc5b0103b541a64e",
  "name": "",
  "topic": "",
  "qos": "2",
  "datatype": "json",
  "broker": "57f4e1d6e78375c3",
  "nl": false,
  "rap": true,
  "rh": 0,
  "inputs": 1,
  "wires": [
    [
      "f38d7ea6c6aba445",
      "b5206fe2cf161f51"
    ]
  ]
},
{
  "id": "75713b659cce268e",
  "type": "influxdb out",
  "z": "bc5b0103b541a64e",
  "influxdb": "df2cf7e32ff3c4b5",
  "name": "",
  "measurement": "stream",
  "precision": "",
  "retentionPolicy": "",
  "database": "database",
  "precisionV18FluxV20": "ms",
  "retentionPolicyV18Flux": "",
  "org": "m",
  "bucket": "homelab",
  "wires": []
},
{
  "id": "b5206fe2cf161f51",
  "type": "trigger",
  "z": "bc5b0103b541a64e",
  "name": "",
  "op1": "",
  "op2": "Trigger timeout",
  "op1type": "nul",
  "op2type": "str",
  "duration": "30",
  "extend": true,
  "overrideDelay": false,
  "units": "min",
  "reset": "",
  "bytopic": "all",
  "topic": "topic",
  "outputs": 1,
  "wires": [
    [
      "3e6886e593bb31ec"
    ]
  ]
},
{
  "id": "2150035aeddb7ba8",
  "type": "delay",
  "z": "bc5b0103b541a64e",
  "name": "",
  "pauseType": "rate",
  "timeout": "5",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "minute",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": true,
  "allowrate": false,
  "outputs": 1,
  "wires": [
    [
      "337bb401c7dd0c72"
    ]
  ]
},
{
  "id": "b34ac84e54ec5336",
  "type": "inject",
  "z": "bc5b0103b541a64e",
  "name": "",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "",
  "crontab": "00 07 * * *",
  "once": false,
  "onceDelay": "1",
  "topic": "",
  "payload": "Retry",
  "payloadType": "str",
  "wires": [
    [
      "3e6886e593bb31ec"
    ]
  ]
},
{
  "id": "719149e47a602dee",
  "type": "mqtt out",
  "z": "bc5b0103b541a64e",
  "name": "",
  "topic": "",
  "qos": "0",
  "retain": "false",
  "respTopic": "",
  "contentType": "",
  "userProps": "",
  "correl": "",
  "expiry": "",
  "broker": "57f4e1d6e78375c3",
  "wires": []
},
{
  "id": "087a5cc32a549cfd",
  "type": "link in",
  "z": "bc5b0103b541a64e",
  "name": "Power req",
  "links": [
    "b1bb7c98e59bbb23"
  ],
  "wires": [
    [
      "6340f3c12439b501"
    ]
  ],
  "l": true
},
{
  "id": "a233448c163c0427",
  "type": "change",
  "z": "bc5b0103b541a64e",
  "name": "Perm Watts",
  "rules": [
    {
      "t": "set",
      "p": "topic",
      "pt": "msg",
      "to": "topicSet",
      "tot": "flow"
    },
    {
      "t": "set",
      "p": "payload",
      "pt": "msg",
      "to": "{\t    \"id\": $millis(),\t    \"version\": \"1.0\",\t    \"cmdCode\": \"WN511_SET_PERMANENT_WATTS_PACK\",\t    \"params\": {\t        \"permanentWatts\": payload * 10 + 150\t    }\t}",
      "tot": "jsonata"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "a83f4b689668f82d"
    ]
  ]
},
{
  "id": "64609e40dc0de632",
  "type": "debug",
  "z": "bc5b0103b541a64e",
  "name": "EF cmd",
  "active": true,
  "tosidebar": true,
  "console": true,
  "tostatus": false,
  "complete": "payload.params",
  "targetType": "msg",
  "statusVal": "",
  "statusType": "auto",
  "wires": []
},
{
  "id": "66b8583e12e11c82",
  "type": "rbe",
  "z": "bc5b0103b541a64e",
  "name": "20",
  "func": "deadband",
  "gap": "20",
  "start": "",
  "inout": "out",
  "septopics": false,
  "property": "payload",
  "topi": "topic",
  "wires": [
    [
      "a233448c163c0427"
    ]
  ]
},
{
  "id": "6340f3c12439b501",
  "type": "delay",
  "z": "bc5b0103b541a64e",
  "name": "1/min",
  "pauseType": "rate",
  "timeout": "5",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "minute",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": true,
  "allowrate": false,
  "outputs": 1,
  "wires": [
    [
      "66b8583e12e11c82"
    ]
  ]
},
{
  "id": "3ea03ff79236bf53",
  "type": "mqtt in",
  "z": "bc5b0103b541a64e",
  "name": "set_reply",
  "topic": "",
  "qos": "2",
  "datatype": "json",
  "broker": "57f4e1d6e78375c3",
  "nl": false,
  "rap": true,
  "rh": 0,
  "inputs": 1,
  "wires": [
    [
      "64609e40dc0de632"
    ]
  ]
},
{
  "id": "d004703c12ab24d2",
  "type": "change",
  "z": "bc5b0103b541a64e",
  "name": "Pri. Storage",
  "rules": [
    {
      "t": "set",
      "p": "topic",
      "pt": "msg",
      "to": "topicSet",
      "tot": "flow"
    },
    {
      "t": "set",
      "p": "payload",
      "pt": "msg",
      "to": "{\t    \"id\": $millis(),\t    \"version\": \"1.0\",\t    \"cmdCode\": \"WN511_SET_SUPPLY_PRIORITY_PACK\",\t    \"params\": {\t        \"supplyPriority\": payload\t    }\t}",
      "tot": "jsonata"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "a83f4b689668f82d"
    ]
  ]
},
{
  "id": "955a693915f72510",
  "type": "change",
  "z": "bc5b0103b541a64e",
  "name": "UpperLimit",
  "rules": [
    {
      "t": "set",
      "p": "topic",
      "pt": "msg",
      "to": "topicSet",
      "tot": "flow"
    },
    {
      "t": "set",
      "p": "payload",
      "pt": "msg",
      "to": "{\t   \"id\": $millis(),\t   \"version\": \"1.0\",\t   \"cmdCode\": \"WN511_SET_BAT_UPPER_PACK\",\t   \"params\": {\t       \"upperLimit\": payload = 1? 98 : 50\t    }\t}",
      "tot": "jsonata"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "a83f4b689668f82d"
    ]
  ]
},
{
  "id": "259b13185504520c",
  "type": "link in",
  "z": "bc5b0103b541a64e",
  "name": "Prioritize Storage",
  "links": [
    "b1fe005de09ec08d",
    "f4855a43c6509875"
  ],
  "wires": [
    [
      "d004703c12ab24d2",
      "2b8f0bf6b9b26ba0"
    ]
  ],
  "l": true
},
{
  "id": "2b8f0bf6b9b26ba0",
  "type": "function",
  "z": "bc5b0103b541a64e",
  "name": "Until MPPT Out Off",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "955a693915f72510"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "a978ef7f.6851a",
  "type": "ui_chart",
  "z": "772e6979.67cd08",
  "name": "CPU Load - Historical",
  "group": "7853403.230cdc",
  "order": 0,
  "width": "0",
  "height": "0",
  "label": "24 Hours",
  "chartType": "line",
  "legend": "false",
  "xformat": "dd HH:mm",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": "",
  "useOneColor": false,
  "useUTC": false,
  "colors": [
    "#1f77b4",
    "#aec7e8",
    "#ff7f0e",
    "#2ca02c",
    "#98df8a",
    "#d62728",
    "#ff9896",
    "#9467bd",
    "#c5b0d5"
  ],
  "outputs": 1,
  "useDifferentColor": false,
  "className": "",
  "wires": [
    []
  ]
},
{
  "id": "ed27cae4.70b728",
  "type": "inject",
  "z": "772e6979.67cd08",
  "name": "update",
  "props": [
    {
      "p": "payload"
    }
  ],
  "repeat": "60",
  "crontab": "",
  "once": true,
  "onceDelay": "",
  "topic": "",
  "payload": "1",
  "payloadType": "num",
  "wires": [
    [
      "accc5caec111ad4f"
    ]
  ]
},
{
  "id": "240a76f3.9953ea",
  "type": "function",
  "z": "772e6979.67cd08",
  "name": "array",
  "outputs": 3,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "51dfac0c.fdc9c4",
      "a978ef7f.6851a"
    ],
    [
      "79d3dbc8.390014"
    ],
    [
      "1ff0080f.4e10c8"
    ]
  ],
  "_vcsOffload": [
    "func.js"
  ]
},
{
  "id": "51dfac0c.fdc9c4",
  "type": "ui_gauge",
  "z": "772e6979.67cd08",
  "name": "CPU Load 1",
  "group": "7853403.230cdc",
  "order": 1,
  "width": "0",
  "height": "0",
  "gtype": "gage",
  "title": "1 Minute",
  "label": "load",
  "format": "{{value | number:2}}",
  "min": 0,
  "max": "4",
  "colors": [
    "#00b500",
    "#e6e600",
    "#ca3838"
  ],
  "seg1": "",
  "seg2": "",
  "diff": false,
  "className": "",
  "wires": []
},
{
  "id": "79d3dbc8.390014",
  "type": "ui_gauge",
  "z": "772e6979.67cd08",
  "name": "CPU Load 2",
  "group": "7853403.230cdc",
  "order": 2,
  "width": "3",
  "height": "3",
  "gtype": "gage",
  "title": "5 Minutes",
  "label": "load",
  "format": "{{value | number:2}}",
  "min": 0,
  "max": "4",
  "colors": [
    "#00b500",
    "#e6e600",
    "#ca3838"
  ],
  "seg1": "",
  "seg2": "",
  "diff": false,
  "className": "",
  "wires": []
},
{
  "id": "1ff0080f.4e10c8",
  "type": "ui_gauge",
  "z": "772e6979.67cd08",
  "name": "CPU Load 3",
  "group": "7853403.230cdc",
  "order": 4,
  "width": "3",
  "height": "3",
  "gtype": "gage",
  "title": "15 Minutes",
  "label": "load",
  "format": "{{value | number:2}}",
  "min": 0,
  "max": "4",
  "colors": [
    "#00b500",
    "#e6e600",
    "#ca3838"
  ],
  "wires": []
},
{
  "id": "cc57cdea.f9387",
  "type": "ui_gauge",
  "z": "772e6979.67cd08",
  "name": "Memory Usage",
  "group": "1d1da0fc.6ab84f",
  "order": 1,
  "width": "0",
  "height": "0",
  "gtype": "gage",
  "title": "1 Minute",
  "label": "Usage",
  "format": "{{value | number:2}}",
  "min": 0,
  "max": "100",
  "colors": [
    "#00b500",
    "#e6e600",
    "#ca3838"
  ],
  "wires": []
},
{
  "id": "dd0cca19.6f90a8",
  "type": "function",
  "z": "772e6979.67cd08",
  "name": "",
  "outputs": 2,
  "noerr": 0,
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "4aeaebd1.24f4c4"
    ],
    [
      "ef649e9b.dce7d"
    ]
  ],
  "_vcsOffload": [
    "func.js",
    "initialize.js"
  ]
},
{
  "id": "4aeaebd1.24f4c4",
  "type": "ui_text",
  "z": "772e6979.67cd08",
  "group": "1d1da0fc.6ab84f",
  "order": 2,
  "width": "0",
  "height": "0",
  "name": "",
  "label": "Total Memory",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "className": "",
  "style": false,
  "font": "",
  "fontSize": "",
  "color": "#000000",
  "wires": []
},
{
  "id": "ef649e9b.dce7d",
  "type": "ui_text",
  "z": "772e6979.67cd08",
  "group": "1d1da0fc.6ab84f",
  "order": 3,
  "width": "0",
  "height": "0",
  "name": "",
  "label": "Free Memory",
  "format": "{{msg.payload}}",
  "layout": "row-spread",
  "className": "",
  "style": false,
  "font": "",
  "fontSize": "",
  "color": "#000000",
  "wires": []
},
{
  "id": "ae72c338.cf1ff",
  "type": "ui_chart",
  "z": "772e6979.67cd08",
  "name": "Memory - 24 Hours",
  "group": "1d1da0fc.6ab84f",
  "order": 0,
  "width": "0",
  "height": "0",
  "label": "24 Hours",
  "chartType": "line",
  "legend": "false",
  "xformat": "dd HH:mm",
  "interpolate": "linear",
  "nodata": "",
  "dot": false,
  "ymin": "",
  "ymax": "",
  "removeOlder": 1,
  "removeOlderPoints": "",
  "removeOlderUnit": "86400",
  "cutout": "",
  "useOneColor": false,
  "useUTC": false,
  "colors": [
    "#1f77b4",
    "#aec7e8",
    "#ff7f0e",
    "#2ca02c",
    "#98df8a",
    "#d62728",
    "#ff9896",
    "#9467bd",
    "#c5b0d5"
  ],
  "outputs": 1,
  "useDifferentColor": false,
  "className": "",
  "wires": [
    []
  ]
},
{"id": "7780c9ca.7581b8","type": "Loadavg","z": "772e6979.67cd08","name": "","wires": [["240a76f3.9953ea"]]},
{"id": "7cf01d46.a3cad4","type": "Memory","z": "772e6979.67cd08","name": "","wires": [["dd0cca19.6f90a8","3aa8e9d725b10971"]]},
{
  "id": "3aa8e9d725b10971",
  "type": "change",
  "z": "772e6979.67cd08",
  "name": "memusage",
  "rules": [
    {
      "t": "set",
      "p": "payload",
      "pt": "msg",
      "to": "payload.memusage",
      "tot": "msg"
    }
  ],
  "action": "",
  "property": "",
  "from": "",
  "to": "",
  "reg": false,
  "wires": [
    [
      "ae72c338.cf1ff",
      "cc57cdea.f9387"
    ]
  ]
},
{
  "id": "1faca75889eadc24",
  "type": "link in",
  "z": "772e6979.67cd08",
  "name": "tab",
  "links": [
    "060128dfb896100c",
    "7076dff3f56b98e2"
  ],
  "wires": [
    [
      "5a255d307516accf"
    ]
  ]
},
{
  "id": "e57693d3bd84b3f0",
  "type": "trigger",
  "z": "772e6979.67cd08",
  "name": "",
  "op1": "1",
  "op2": "0",
  "op1type": "str",
  "op2type": "str",
  "duration": "-2",
  "extend": false,
  "overrideDelay": false,
  "units": "s",
  "reset": "",
  "bytopic": "all",
  "topic": "topic",
  "outputs": 1,
  "wires": [
    [
      "accc5caec111ad4f"
    ]
  ]
},
{
  "id": "5a255d307516accf",
  "type": "switch",
  "z": "772e6979.67cd08",
  "name": "this tab",
  "property": "tab",
  "propertyType": "msg",
  "rules": [
    {
      "t": "eq",
      "v": "System",
      "vt": "str"
    }
  ],
  "checkall": "true",
  "repair": false,
  "outputs": 1,
  "wires": [
    [
      "e57693d3bd84b3f0"
    ]
  ]
},
{"id": "def2eb2c9c511a11","type": "ui_ui_control","z": "772e6979.67cd08","name": "","events": "all","wires": [["d36cf06e7eef297f"]]},
{
  "id": "d36cf06e7eef297f",
  "type": "function",
  "z": "772e6979.67cd08",
  "name": "while tab open",
  "outputs": 3,
  "noerr": 0,
  "finalize": "",
  "libs": [],
  "wires": [
    [
      "060128dfb896100c"
    ],
    [
      "7076dff3f56b98e2"
    ],
    [
      "675f5bada3b7e262"
    ]
  ],
  "_vcsOffload": [
    "func.js",
    "initialize.js"
  ]
},
{
  "id": "675f5bada3b7e262",
  "type": "ui_template",
  "z": "772e6979.67cd08",
  "group": "a0c09cbc32a93f22",
  "name": "Users",
  "order": 0,
  "width": "6",
  "height": "4",
  "storeOutMessages": false,
  "fwdInMessages": false,
  "resendOnRefresh": false,
  "templateScope": "local",
  "className": "",
  "wires": [
    []
  ],
  "_vcsOffload": [
    "format.htm"
  ]
},
{"id": "7076dff3f56b98e2","type": "link out","z": "772e6979.67cd08","name": "tab remove","mode": "link","links": ["1faca75889eadc24"],"wires": []},
{"id": "060128dfb896100c","type": "link out","z": "772e6979.67cd08","name": "tab add","mode": "link","links": ["1faca75889eadc24","919042522772b0aa"],"wires": []}]